@{
    ViewBag.Title = "About Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Inicio -->
<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="~/Template/images/about.jpg" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content">
                        <div class="home_title"><h1>Medicina hecha con cuidado</h1></div>
                        <div class="home_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu.</p>
                        </div>
                        <div class="button home_button">
                            <a href="#">leer más</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Elemento del control deslizante -->
<div class="owl-item">
    <div class="home_slider_background" style="background-image: url('../../template/images/home_background_1.jpg')"></div>
    <div class="home_content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content_inner">
                        <div class="home_title"><h1>Medicina hecha con cuidado</h1></div>
                        <div class="home_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu.</p>
                        </div>
                        <div class="button home_button">
                            <a href="#">leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Elemento del control deslizante -->
<div class="owl-item">
    <div class="home_slider_background" style="background-image: url('../../template/images/home_background_1.jpg')"></div>
    <div class="home_content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content_inner">
                        <div class="home_title"><h1>Medicina hecha con cuidado</h1></div>
                        <div class="home_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu.</p>
                        </div>
                        <div class="button home_button">
                            <a href="#">leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Barra de progreso del control deslizante -->
<div class="home_slider_progress"></div>



<!-- 3 Cajas -->

<div class="boxes">
    <div class="container">
        <div class="row">

            <!-- Caja -->
            <div class="col-lg-4 box_col">
                <div class="box working_hours">
                    <div class="box_icon d-flex flex-column align-items-start justify-content-center"><div style="width:29px; height:29px;"><img src="~/Template/images/alarm-clock.svg" alt=""></div></div>
                    <div class="box_title">Horario de trabajo</div>
                    <div class="working_hours_list">
                        <ul>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div>Lunes - Viernes</div>
                                <div class="ml-auto">8.00 – 19.00</div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div>Sábado</div>
                                <div class="ml-auto">9.30 – 17.00</div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div>Domingo</div>
                                <div class="ml-auto">9.30 – 15.00</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Caja -->
            <div class="col-lg-4 box_col">
                <div class="box box_appointments">
                    <div class="box_icon d-flex flex-column align-items-start justify-content-center"><div style="width: 29px; height:29px;"><img src="~/Template/images/phone-call.svg" alt=""></div></div>
                    <div class="box_title">Citas</div>
                    <div class="box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam cons equat semper sollicitudin.</div>
                </div>
            </div>

            <!-- Caja -->
            <div class="col-lg-4 box_col">
                <div class="box box_emergency">
                    <div class="box_icon d-flex flex-column align-items-start justify-content-center"><div style="width: 37px; height:37px; margin-left:-4px;"><img src="~/Template/images/bell.svg" alt=""></div></div>
                    <div class="box_title">Casos de emergencia</div>
                    <div class="box_phone">+56 273 45678 235</div>
                    <div class="box_emergency_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo.</div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Testimonios -->

<div class="testimonials">
    <div class="testimonials_background parallax-window" data-parallax="scroll" data-image-src="~/Template/images/testimonials.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title section_title_light"><h2>Testimonios de Pacientes</h2></div>
            </div>
        </div>
        <div class="row test_row">

            <!-- Testimonio -->
            <div class="col-lg-6 test_col">
                <div class="testimonial">
                    <div class="test_icon d-flex flex-column align-items-center justify-content-center"><img src="~/Template/images/quote.png" alt=""></div>
                    <div class="test_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dap ibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet torto.</div>
                    <div class="test_author d-flex flex-row align-items-center justify-content-start">
                        <div class="test_author_image"><div><img src="~/Template/images/test_1.jpg" alt=""></div></div>
                        <div class="test_author_name"><a href="#">Claire Smith</a>, <span>Paciente</span></div>
                    </div>
                </div>
            </div>

            <!-- Testimonio -->
            <div class="col-lg-6 test_col">
                <div class="testimonial">
                    <div class="test_icon d-flex flex-column align-items-center justify-content-center"><img src="~/Template/images/quote.png" alt=""></div>
                    <div class="test_text">Slor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dap ibus massa. Pellen tesque in luctus ex. Praesent luctus erat sit amet tortor aliquam bibendum.</div>
                    <div class="test_author d-flex flex-row align-items-center justify-content-start">
                        <div class="test_author_image"><div><img src="~/Template/images/test_2.jpg" alt=""></div></div>
                        <div class="test_author_name"><a href="#">Mick Williams</a>, <span>Paciente</span></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Equipo -->
<section>
<div class="team">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title"><h2>Conoce a Nuestro Equipo Médico</h2></div>
            </div>
        </div>
        <div class="row team_row">

            <!-- Miembro del Equipo -->
            <div class="col-lg-3 team_col">
                <div class="team_member">
                    <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="~/Template/images/team_1.png" alt=""></div>
                    <div class="team_member_info">
                        <div class="team_member_name"><a href="#">Dra. Melissa Smith</a></div>
                        <div class="team_member_title">Cardióloga</div>
                    </div>
                </div>
            </div>

            <!-- Miembro del Equipo -->
            <div class="col-lg-3 team_col">
                <div class="team_member">
                    <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="~/Template/images/team_2.png" alt=""></div>
                    <div class="team_member_info">
                        <div class="team_member_name"><a href="#">Dr. Josh Henderson</a></div>
                        <div class="team_member_title">Cirujano Plástico</div>
                    </div>
                </div>
            </div>

            <!-- Miembro del Equipo -->
            <div class="col-lg-3 team_col">
                <div class="team_member">
                    <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="~/Template/images/team_3.png" alt=""></div>
                    <div class="team_member_info">
                        <div class="team_member_name"><a href="#">Dra. Christinne Jones</a></div>
                        <div class="team_member_title">Pediatra</div>
                    </div>
                </div>
            </div>

            <!-- Miembro del Equipo -->
            <div class="col-lg-3 team_col">
                <div class="team_member">
                    <div class="team_member_image d-flex flex-column align-items-center justify-content-end"><img src="~/Template/images/team_4.png" alt=""></div>
                    <div class="team_member_info">
                        <div class="team_member_name"><a href="#">Dr. William Stan</a></div>
                        <div class="team_member_title">Médico General</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>
<!-- Llamada a la acción -->

<div class="cta">
    <div class="cta_background parallax-window" data-parallax="scroll" data-image-src='../../template/images/cta.jpg' data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_content text-center">
                    <h2>¿Necesitas un plan de salud personalizado?</h2>
                    <p>Duis massa massa, mollis vel ullamcorper quis, finibus et urna. Aliquam ac eleifend metus. Ut sollicitudin risus ex</p>
                    <div class="button cta_button"><a href="#">solicitar un plan</a></div>
                </div>
            </div>
        </div>
    </div>
</div>