@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Inicio -->
<div class="home">
    <div class="home_slider_container">
        <!-- Control deslizante de inicio -->
        <div class="owl-carousel owl-theme home_slider">

            <!-- Elemento del control deslizante -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image: url('../../template/images/home_background_1.jpg')"></div>
                <div class="home_content">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content_inner">
                                    <div class="home_title"><h1>Medicina hecha con cuidado</h1></div>
                                    <div class="home_text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu.</p>
                                    </div>
                                    <div class="button home_button">
                                        <a href="#">leer más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Elemento del control deslizante -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image: url('../../template/images/home_background_1.jpg')"></div>
                <div class="home_content">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content_inner">
                                    <div class="home_title"><h1>Medicina hecha con cuidado</h1></div>
                                    <div class="home_text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu.</p>
                                    </div>
                                    <div class="button home_button">
                                        <a href="#">leer más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Elemento del control deslizante -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image: url('../../template/images/home_background_1.jpg')"></div>
                <div class="home_content">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_content_inner">
                                    <div class="home_title"><h1>Medicina hecha con cuidado</h1></div>
                                    <div class="home_text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamcorper id. Quisque at erat eu.</p>
                                    </div>
                                    <div class="button home_button">
                                        <a href="#">leer más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Barra de progreso del control deslizante -->
        <div class="home_slider_progress"></div>
    </div>
</div>

<!-- 3 Cajas -->

<div class="boxes">
    <div class="container">
        <div class="row">

            <!-- Caja -->
            <div class="col-lg-4 box_col">
                <div class="box working_hours">
                    <div class="box_icon d-flex flex-column align-items-start justify-content-center"><div style="width:29px; height:29px;"><img src="~/Template/images/alarm-clock.svg" alt=""></div></div>
                    <div class="box_title">Horario de trabajo</div>
                    <div class="working_hours_list">
                        <ul>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div>Lunes - Viernes</div>
                                <div class="ml-auto">8.00 – 19.00</div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div>Sábado</div>
                                <div class="ml-auto">9.30 – 17.00</div>
                            </li>
                            <li class="d-flex flex-row align-items-center justify-content-start">
                                <div>Domingo</div>
                                <div class="ml-auto">9.30 – 15.00</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Caja -->
            <div class="col-lg-4 box_col">
                <div class="box box_appointments">
                    <div class="box_icon d-flex flex-column align-items-start justify-content-center"><div style="width: 29px; height:29px;"><img src="~/Template/images/phone-call.svg" alt=""></div></div>
                    <div class="box_title">Citas</div>
                    <div class="box_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam cons equat semper sollicitudin.</div>
                </div>
            </div>

            <!-- Caja -->
            <div class="col-lg-4 box_col">
                <div class="box box_emergency">
                    <div class="box_icon d-flex flex-column align-items-start justify-content-center"><div style="width: 37px; height:37px; margin-left:-4px;"><img src="~/Template/images/bell.svg" alt=""></div></div>
                    <div class="box_title">Casos de emergencia</div>
                    <div class="box_phone">+56 273 45678 235</div>
                    <div class="box_emergency_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo.</div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Acerca de nosotros -->

<div class="about">
    <div class="container">
        <div class="row row-lg-eq-height">

            <!-- Contenido sobre nosotros -->
            <div class="col-lg-7">
                <div class="about_content">
                    <div class="section_title"><h2>Un gran equipo médico para satisfacer sus necesidades</h2></div>
                    <div class="about_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dapibus massa. Pellentesque in luctus ex. Present luctus erat sit amet tortor aliquam bibendum. Nulla ut molestie augue, scelerisque consectetur quam. Dolor sit amet, consectetur adipiscing elit. Cura bitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dapibus massa. Pellentesque in luctus ex.</p>
                    </div>
                    <div class="button about_button">
                        <a href="#">Leer más</a>
                    </div>
                </div>
            </div>

            <!-- Imagen sobre nosotros -->
            <div class="col-lg-5">
                <div class="about_image"><img src="~/Template/images/about.png" alt=""></div>
            </div>
        </div>
    </div>
</div>

<!-- Departamentos -->

<div class="departments">
    <div class="departments_background parallax-window" data-parallax="scroll" data-image-src="~/Template/images/departments.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title section_title_light"><h2>Nuestros Departamentos Médicos</h2></div>
            </div>
        </div>
        <div class="row departments_row row-md-eq-height">

            <!-- Departamento -->
            <div class="col-lg-3 col-md-6 dept_col">
                <div class="dept">
                    <div class="dept_image"><img src="~/Template/images/dept_1.jpg" alt=""></div>
                    <div class="dept_content text-center">
                        <div class="dept_title">cirugía plástica</div>
                        <div class="dept_subtitle">Dr. James Smith</div>
                    </div>
                </div>
            </div>

            <!-- Departamento -->
            <div class="col-lg-3 col-md-6 dept_col">
                <div class="dept">
                    <div class="dept_image"><img src="~/Template/images/dept_2.jpg" alt=""></div>
                    <div class="dept_content text-center">
                        <div class="dept_title">gastroenterología</div>
                        <div class="dept_subtitle">Dr. Gunter Roscoe</div>
                    </div>
                </div>
            </div>

            <!-- Departamento -->
            <div class="col-lg-3 col-md-6 dept_col">
                <div class="dept">
                    <div class="dept_image"><img src="~/Template/images/dept_3.jpg" alt=""></div>
                    <div class="dept_content text-center">
                        <div class="dept_title">odontología</div>
                        <div class="dept_subtitle">Dra. Maria Williams</div>
                    </div>
                </div>
            </div>

            <!-- Departamento -->
            <div class="col-lg-3 col-md-6 dept_col">
                <div class="dept">
                    <div class="dept_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin. Aliquam nec dap ibus massa. Pellen tesque in luctus ex.</p>
                    </div>
                    <div class="button dept_button"><a href="#">Leer más</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Servicios -->

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title"><h2>Nuestros Servicios Destacados</h2></div>
            </div>
        </div>
        <div class="row services_row">

            <!-- Servicio -->
            <div class="col-lg-4 col-md-6 service_col">
                <a href="services.html">
                    <div class="service text-center trans_200">
                        <div class="service_icon"><img class="svg" src="~/Template/images/service_1.svg" alt=""></div>
                        <div class="service_title trans_200">Chequeos gratuitos</div>
                        <div class="service_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin.</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Servicio -->
            <div class="col-lg-4 col-md-6 service_col">
                <a href="services.html">
                    <div class="service text-center trans_200">
                        <div class="service_icon"><img class="svg" src="~/Template/images/service_2.svg" alt=""></div>
                        <div class="service_title trans_200">Exámenes de detección</div>
                        <div class="service_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin.</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Servicio -->
            <div class="col-lg-4 col-md-6 service_col">
                <a href="services.html">
                    <div class="service text-center trans_200">
                        <div class="service_icon"><img class="svg" src="~/Template/images/service_3.svg" alt=""></div>
                        <div class="service_title trans_200">Servicios de RMI</div>
                        <div class="service_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin.</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Servicio -->
            <div class="col-lg-4 col-md-6 service_col">
                <a href="services.html">
                    <div class="service text-center trans_200">
                        <div class="service_icon"><img class="svg" src="~/Template/images/service_4.svg" alt=""></div>
                        <div class="service_title trans_200">Odontología</div>
                        <div class="service_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin.</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Servicio -->
            <div class="col-lg-4 col-md-6 service_col">
                <a href="services.html">
                    <div class="service text-center trans_200">
                        <div class="service_icon"><img class="svg" src="~/Template/images/service_5.svg" alt=""></div>
                        <div class="service_title trans_200">Neonatología</div>
                        <div class="service_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin.</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Servicio -->
            <div class="col-lg-4 col-md-6 service_col">
                <a href="services.html">
                    <div class="service text-center trans_200">
                        <div class="service_icon"><img class="svg" src="~/Template/images/service_6.svg" alt=""></div>
                        <div class="service_title trans_200">Bioquímica</div>
                        <div class="service_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante leo, finibus quis est ut, tempor tincidunt ipsum. Nam consequat semper sollicitudin.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Llamada a la acción -->

<div class="cta">
    <div class="cta_background parallax-window" data-parallax="scroll" data-image-src='../../template/images/cta.jpg' data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="cta_content text-center">
                    <h2>¿Necesitas un plan de salud personalizado?</h2>
                    <p>Duis massa massa, mollis vel ullamcorper quis, finibus et urna. Aliquam ac eleifend metus. Ut sollicitudin risus ex</p>
                    <div class="button cta_button"><a href="#">solicitar un plan</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


